<div class="forum-page ">

  <div class="top-forum mb-5 p-5">
    <%= simple_form_for(@forum) do |f| %>
      <div class="form-row">
        <div class="col-md-4">
          <%= f.input :pseudo, class: "form-group" %>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-2">
          <%= f.input :age, class: "form-group" %>
        </div>
      </div>
      <%= f.input :commentaire, :input_html => {:maxlength =>480, :style=> 'height: 160px'}, class: "form-group" %>
      <%= f.submit "Ajouter", class: "sub-btn btn btn-primary"%>
    <% end %>
  </div>

  <div class="commentaire">
    <% @forums.reverse_each do |forum| %>
      <div class="simple-com my-5">
        <h3 class="pb-2"><span class="pseudo-com"><%= forum.pseudo.capitalize %></span>, <%= forum.age %> ans</h3>
        <div class="com-pad">
          <p><%= forum.commentaire.capitalize %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render 'shared/footer' %>
