<div class="top-forum mb-5">
  <%= simple_form_for(@forum) do |f| %>
    <div class="form-row">
      <div class="col-md-8">
        <%= f.input :pseudo %>
      </div>
      <div class="col-md-4">
        <%= f.input :age %>
      </div>
    </div>
    <%= f.input :commentaire %>
    <%= f.submit %>
  <% end %>
</div>

<div class="commentaire container">
  <% @forums.reverse_each do |forum| %>
    <div class="row">
      <%= forum.pseudo.capitalize %>
      <%= forum.age %>
      <%= forum.commentaire.capitalize %>
    </div>
  <% end %>
</div>
